<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bvp.patan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name=".admin.ChangeAdminPassword"></activity>
        <activity android:name=".admin.MakeNewAdmin" />
        <activity android:name=".admin.AdminLogin" />
        <activity android:name=".admin.AdminPanel" />
        <activity android:name=".admin.AdminRegistersNewUser" />
        <activity android:name=".admin.UploadNewsletter" />
        <activity android:name=".admin.MakeAnnouncement" />
        <activity android:name=".admin.UploadPhotosLink" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".Categories" />
        <activity android:name=".Profile" />
        <activity android:name=".ModifyProfile" />
        <activity android:name=".activities.categories.UserDirectory" />
        <activity android:name=".UserDetails" />
        <activity android:name=".activities.categories.Newsletters" />
        <activity android:name=".activities.categories.CalendarEvents" />
        <activity android:name=".activities.categories.Announcement" />
        <activity android:name=".activities.categories.Feedback" />
        <activity android:name=".activities.categories.Photos" />
        <activity android:name=".activities.categories.Projects" />
        <activity android:name=".activities.categories.About" /> <!-- uCrop -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" /> <!-- to write & read file from external storage -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- FCM -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_default_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_check_circle_filled" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_default_id" />
    </application>

</manifest>